@import "/obsidian-general.css";

// ===== Blocks structure =====

$blocks-gap: 1.2em;
$half-blocks-gap: 0.6em;
$paragraphs-gap: 0.4em;
$close-elements-gap: 0.2em;

// === Live edit styling ===
.is-live-preview .cm-content {

    // == Elements Spacing
    .cm-line:has(>br) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    /* --- Space between paragraphs */
    div + .cm-line {
        padding-top: $blocks-gap;
    }
    .cm-line + .cm-line {
        padding-top: $paragraphs-gap;
    }

    // --- Image
    .media-embed {
        padding-top:  $blocks-gap;
        padding-bottom: 0;
    }
    .cm-line + .media-embed {
        padding-top: $half-blocks-gap;
    }

    /* --- List */
    .HyperMD-list-line + .HyperMD-list-line {
        padding-top: $paragraphs-gap;
    }

    /* --- Callout, Quote, Code specifics */
    // Add specific space between text (list), media and paddingless blocks
    .media-embed, .cm-line {
        &:has(+ .HyperMD-quote, + .cm-callout, + .HyperMD-codeblock-begin) {
            padding-bottom: $blocks-gap;
        }
    }
    // Smaller then other gaps so the text above can be more adjaicent as header.
    .cm-line:has(+ .HyperMD-codeblock-begin) {
        padding-bottom: $half-blocks-gap;
    }
    // Overrides prevoius rule for special half block gap (when text has to be closer to a line or media)
    .HyperMD-codeblock-end + {
        .cm-line, .media-embed {
            padding-top: $blocks-gap;
        }
    }
    // Allows to reduce gap between line and next element in special case
    // when two spaces added in the end of a line (in trigger Obsidian to add a special class)
    .cm-line:has(> .cm-trailing-space-new-line) + .cm-line {
        padding-top: $close-elements-gap;
    }
    .cm-callout, .HyperMD-quote, .HyperMD-codeblock-end {
        // Adjust free line height for lines after abowe blocks.
        + .cm-line:has(>br) {
            line-height: $blocks-gap;
        }
    }
    // Remove any any paddings as there shouldn't be, 
    // but can be added with .cm-line rules as thay are cm-line too.
    .HyperMD-quote, .HyperMD-codeblock {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    /* --- Table */
    .cm-line:has(>br) + .cm-table-widget {
        padding-top: calc($blocks-gap - 0.5em);
        padding-bottom: $blocks-gap;
    }
    // Adjust free line height before a table. !!!Smaller then 0.5em couses a cursor to skip thi line when move down.
    .cm-line:has(>br):has(+ .cm-table-widget) {
        line-height: 0.5em;
    }
    .cm-table-widget + {
        .media-embed, .cm-line {
            padding-top: 0;
        }
    }
    // Removes padding inside table
    .table-cell-wrapper {
        .cm-line {
            padding-top: 0;
        }
    }

    // --- Elements overrides
    .cm-line:has(>br) + *:not(.cm-table-widget, .HyperMD-header) {
        padding-top: 0 !important;
    }

    /* == Headers spacing */
    // Remove space before first element in a note
    > [contenteditable]:first-child + div,
    > div:first-child {
        padding-top: 0 !important;
    }

    @each $header in 1, 2, 3, 4, 5, 6 {
        // Space after a header
        .HyperMD-header.HyperMD-header-#{$header} {
            padding-top: calc(var(--p-spacing) * var(--h#{$header}-margin-start-coef));
            padding-bottom: calc(var(--p-spacing) * var(--h#{$header}-margin-end-coef));
        }
    }
    // Remove bottom gap before table as table has to have some space before for widget buttons
    .HyperMD-header:has(+ .cm-table-widget) {
        padding-bottom: 0;
    }

    /* --- Spacing between Headers */
    .HyperMD-header:has(+ .HyperMD-header) {
        padding-bottom: 0 !important;
    }
}



/* === Rendered styling === */
.markdown-rendered {
    @each $header in 1, 2, 3, 4, 5, 6 {
        // Space after a header
        .el-h#{$header} {
            padding-top: calc(var(--p-spacing) * var(--h#{$header}-margin-start-coef));
            padding-bottom: calc(var(--p-spacing) * var(--h#{$header}-margin-end-coef));
        }
        h#{$header} {
            margin-block-start: 0;
            margin-block-end: 0;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    
    /* Removes margins so below rules can follow edit mode */
    p, ul, pre, blockquote, .callout {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    // removes all paddings for the firdt element in a note
    // markdown-preview-pusher - for canvas
    .mod-frontmatter, .mod-header, .markdown-preview-pusher {
        + div {
            padding-top: 0 !important;
        }
    }

    .el-pre, .el-p, .el-blockquote, .el-div {
        padding-top: $blocks-gap;
    }

    .el-p + .el-pre {
        padding-top: $half-blocks-gap;
    }

    [class^='el-h'] + div {
        padding-top: 0;
    }
}