@import "/obsidian-general.css";

/* === Backlinks in Note. Reduce visibility */
.embedded-backlinks .tree-item-inner {
    font-size: var(--font-ui-small);
}
.embedded-backlinks .tree-item-self:hover {
    color: hsl(from var(--nav-item-color-hover) h s l / 0.8) !important;
}
.embedded-backlinks .tree-item-self:not(.is-collapsed) {
    color: hsl(from var(--nav-heading-color) h s l / 0.5);
}
@media (hover: hover) {
    .embedded-backlinks .nav-buttons-container {
        display: none;
    }
    .embedded-backlinks:hover .nav-buttons-container {
        display: flex;
    }
}
.embedded-backlinks .search-result-container {
    padding-top: 0px;
    padding-bottom: var(--size-4-2);
}
.embedded-backlinks .search-result-file-matched-text {
    color: var(--backlink-note-result-highlight-color);
    background-color: var(--backlink-note-result-highlight-bg-color);
    border-radius: 2px;
    padding: 0 2px 0 2px;
}
