body {
    /* === Obsidian's  vars === */
    --table-header-color: var(--color-base-70);
    --table-header-size: var(--font-smaller);
    --code-border-width: 1px;
    --code-size: var(--font-smallest);
    --code-tag: #cc9633;
    --text-highlight-bg: rgb(108 134 48 / 55%);

    /* Note Title */
    --inline-title-size: 1.8em;
    --inline-title-color: var(--color-base-100);

    --font-monospace-theme: "Menlo";

    /* Headers */
    --h1-color: #a897d9;
    --h2-color: #8a8dd3;
    --h3-color: #8f98e0;
    
    --h4-color: var(--color-base-80);
    --h5-color: var(--color-base-70);
    --h6-color: var(--color-base-60);

    --h1-weight: var(--font-semibold);
    --h2-weight: var(--font-medium);
    --h3-weight: var(--font-medium);

    --h4-weight: var(--font-normal);
    --h5-weight: var(--font-normal);
    --h6-weight: var(--font-medium);
    
    --h1-line-height: 1.2;
    --h2-line-height: 1.2;
    --h3-line-height: 1.2;
    
    --h4-line-height: 1.2;
    --h5-line-height: var(--line-height-normal);
    --h6-line-height: var(--line-height-normal);
    
    --h1-size: 1.7em;
    --h2-size: 1.5em;
    --h3-size: 1.3em;
    
    --h4-size: 1.1em;
    --h5-size: 1.0em;
    --h6-size: 0.9em;


    /* === Custom vars === */
    /* Blocks structure vars */
    --h1-margin-start-coef: 3.2;
    --h1-margin-end-coef: 0.9;
    --h2-margin-start-coef: 2.1;
    --h2-margin-end-coef: 0.8;
    --h3-margin-start-coef: 1.8;
    --h3-margin-end-coef: 0.7;
    
    --h4-margin-start-coef: 1.65;
    --h4-margin-end-coef: 0.8;
    --h5-margin-start-coef: 1.1;
    --h5-margin-end-coef: 0.6;
    --h6-margin-start-coef: 0.6;
    --h6-margin-end-coef: 0.5;

    /* Styling */
    --header-label-color: #8d8d8d59;

    --img-corner-radius: var(--radius-m);
    --img-gallery-row-right-gap: var(--size-4-3);;

    --table-border-radius: var(--radius-m);

    --text-highlight-border-radius: var(--radius-s);
    --text-highlight-text-color:  #eeece3;

    --backlink-note-result-highlight-color: #eeece3;
    --backlink-note-result-highlight-bg-color: rgb(134 156 84 / 32%);

    /* Dangling lines */
    --required-new-line-height: 0.8em;

    /* Callouts */
    --callout-img-bg: #3f2b777a;
    --callout-inlinenote-bg: #73557a1c;
    --callout-radius-custom: var(--radius-m);

    /* Dataview */
    --dataview-table-row-radius: var(--radius-m);
    --dataview-inline-data-corner-radius: var(--radius-s);
    --dataview-table-row-bg-color: transparant;
    --dataview-table-alt-row-bg-color: var(--color-base-20);
    --dataview-table-row-bg-color-hover: var(--background-modifier-hover);
    --dataview-table-alt-row-bg-color-hover: var(--background-modifier-hover);
}

body .HyperMD-header + .HyperMD-header {
    --h2-margin-start-coef: 1;
    --h3-margin-start-coef: 0.9;    
    --h4-margin-start-coef: 0.85;
    --h5-margin-start-coef: 0.7;
    --h6-margin-start-coef: 0.6;
}


/* Image Converter plugin fix! */
img:hover {
    outline: none !important;
}

